* { 
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

body { 
    min-height: 100vh; 
    background: #f1f1f1;
}

.title h1{
    font-family: inherit;
    color: white;
    /*margin-top: 2vh;*/
    font-size: 3vh;
}

header{
    width: 100vw;
    height: 13vh;
    background-color: #192841;
    display: block;
    justify-content: center;
}

.title{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}


a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
    font-weight: 700;
}